# Dev environment
pip
autopep8

# FastAPI Application
fastapi
uvicorn[standard]

# Google Cloud and AI
google-cloud-aiplatform

# LangGraph and LangChain
langgraph
langchain-google-vertexai
langchain-core
langchain

# Additional dependencies
requests
pydantic

# Transform Service Dependencies
google-generativeai
google-cloud-aiplatform
